@import url("https://fonts.googleapis.com/css?family=Lato:300,400,900");
.form-wrap a{
  text-align: center;
font-family: "Times New Roman";  
width: 60%;
}
.login{
    text-decoration: none;
    color: white;
}
#home{
    color: white;
}

.error{
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size:  2rem;
}